* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
}
h3{
  padding-top: 20px;
  font-weight: 700;
}
h3 span {
  font-weight: normal;
  color: #969696;
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFf;
  box-shadow:  21px 27px 60px 13px hsl(229, 23%, 23%);
  width: 350px;
  text-align: center;
  border-radius: 15px;
}
.top-card{
  z-index: 3333;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}
.avatar {
  margin-top: -50px;
  border-radius: 50%;
  border: 5px solid #FFF;
}
.container p {
  color:#969696;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}
.line {
  color: #6a6f81;
  opacity: 0.5;
}
.stats {
  padding: 15px 0 15px 0;;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stats span {
  font-weight: 400;
  font-size: 18px;
  color: #969696;
}
.attribution {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 14px;
}
.attribution a {
  text-decoration: none;
  color: #FFf;
}
.attribution a:hover {
  color:hsl(228, 45%, 44%);
}